<?xml version="1.0" ?>

<launch>
  <arg name="model" default="romipi" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-1.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <!-- launching gazebo -->
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find romipi_florence)/worlds/florence_demo.world"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/>
  </include>

  <!-- include file="$(find romipi_fake)/launch/romipi_fake.launch" / -->
  <!-- param name="robot_description" command="$(find xacro)/xacro $(find romipi_description)/urdf/romipi.urdf.xacro" / -->
  <!-- param name="robot_description" command="$(find xacro)/xacro $(find romipi_description)/urdf/romipi.gazebo.xacro" / -->
  <param name="robot_description" command="$(find xacro)/xacro $(find romipi_florence)/urdf/romipi_with_lidar_and_camera.urdf.xacro" />
  
  
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
 
  
  
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find romipi_gazebo)/rviz/romipi_gazebo_model.rviz" / -->
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find romipi_description)/rviz/model.rviz" /-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find romipi_florence)/rviz/romipi_florence.rviz" />
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <!--node pkg="gazebo_ros" type="spawn_model" name="spawn_gazebo_model" args="-urdf -model robot  -param robot_description " respawn="false" output="screen" /-->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"         args="-urdf -model romipi -param robot_description -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" respawn="false" output="screen" />

</launch>
